@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&display=swap"); */

@font-face {
  font-family: "Fraunces-144pt";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*styling*/
body {
  font-family: Manrope;
  min-width: 370px;
}
header {
  background-color: hsla(274, 100%, 99%, 1);
}
.navbar {
  background-color: var(--Dark-Purple, #24053e);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .navbar {
    padding: 2rem 2.44rem;
  }
}
@media (min-width: 1440px) {
  .navbar {
    padding: 3.5rem 10.31rem;
  }
}

.nav-name {
  color: var(--White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}
@media (min-width: 1440px) {
  .nav-name:hover {
    color: var(--Eucaplyptus, #44ffa1);
  }
}

.green-underline {
  background-color: var(--Eucaplyptus, #44ffa1);
  width: 100%;
  height: 2px;
}
.head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Purple, #24053e);
  margin-top: -1px;
}

.tittle {
  padding: 1rem;
  color: var(--White, #fff);
  text-align: center;
  font-family: Fraunces-144pt;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.125rem;
  max-width: 21.4375em;
}

@media (min-width: 768px) {
  .tittle {
    color: var(--White, #fff);
    text-align: center;
    font-family: Fraunces-144pt;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
    max-width: 35.8125rem;
  }
}
@media (min-width: 1440px) {
  .tittle {
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Fraunces 144pt;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    max-width: 39.6875rem;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--Eucaplyptus, #44ffa1);
  text-decoration-thickness: 3px;
}
.button {
  background: var(--Eucaplyptus, #44ffa1);
  color: var(--Dark-Purple, #24053e);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
  border: none;
  cursor: pointer;
  margin: 2.56em 7.58em;
  padding: 0.7em 1.5em;
}

@media (min-width: 1440px) {
  .button:hover {
    border: 2px solid var(--Eucaplyptus, #44ffa1);
    color: #44ffa1;
    background-color: transparent;
    border-color: var(--Eucaplyptus, #44ffa1);
  }
}
.head-bottom {
  background-color: #24053e;
  height: 100px;
  width: 100%;
  border-radius: 0 0 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -1px;
}
.phone {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 155px;
}
.phone-image {
  position: absolute;
  bottom: 4rem;
  width: 18.64406rem;
}

.options {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 2.5rem;
  background-color: hsla(274, 100%, 99%, 1);
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.81em;
}
@media (min-width: 768px) {
  .options {
    justify-items: center;
  }
  .option {
    flex-direction: row;
    padding: 0 6.6em;
  }
}
@media (min-width: 1440px) {
  .options {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6.5em 10.31em 0 6.5em;
  }
  .option {
    flex-direction: column;
  }
}

.option-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 0;
  max-width: 21.4375em;
  max-height: 8.5em;
}

.option-number {
  color: var(--Dark-Purple, #24053e);
  text-align: center;
  font-family: Fraunces-144pt;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  border-radius: 50%;
  border: solid hsla(271, 12%, 34%, 1);
  padding: 0.31em 1em;
}

.option-tittle {
  color: var(--Dark-Purple, #24053e);
  text-align: center;
  font-family: Fraunces-144pt;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
}
.option-text {
  color: var(--Davys-Grey, #584d62);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}
.options-bottom {
  background-color: hsla(274, 100%, 99%, 1);
  height: 50px;
  width: 100%;
  border-radius: 0 0 100% 100%;
  box-shadow: 0px 4px 4px hsla(274, 100%, 99%, 1);
  margin-top: -1px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
  padding: 1rem;
}
.author-image {
  padding: 0 2.94em;
}
@media (min-width: 768px) {
  .author-image {
    padding: 0 29rem 0 2.44rem;
  }
}
@media (min-width: 1440px) {
  .author-image {
    padding: 0 51.86rem 0 10.18rem;
    max-width: 80%;
  }
}

.container {
  background: var(--Dark-Purple, #24053e);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;
  bottom: 50px;
}
@media (min-width: 768px) {
  .container {
    max-width: 32.125rem;
    bottom: 300px;
    left: 400px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 45.625rem;
    max-height: 155.875rem;
    bottom: 350px;
    left: 600px;
  }
}
.container-tittle {
  color: var(--White, #fff);
  text-align: center;
  font-family: Fraunces-144pt;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  padding-top: 2rem;
}
.container-content {
  color: var(--White, #fff);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  padding: 1.94em;
}
.button-container {
  background: var(--Eucaplyptus, #44ffa1);
  color: var(--Dark-Purple, #24053e);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
  border: none;
  cursor: pointer;
  padding: 0.7em 1.5em;
  margin: 1.5em 5.38em 2em 5.38em;
}
@media (min-width: 768px) {
  .container-tittle {
    color: var(--White, #fff);
    font-family: Fraunces 144pt;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
  }
  .container-content {
    color: var(--White, #fff);
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
  }
}
@media (min-width: 1440px) {
  .container-tittle {
    color: var(--White, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Fraunces 144pt;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
  }
  .container-content {
    color: var(--White, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Manrope;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}

.rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
